* {box-sizing: border-box;}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}
body#layoutbody {width: 100vw; height: 100vh;}
body#toolboxbody {overflow-x: hidden;}

main {
	flex: 1 1;
}

header {
	background: rebeccapurple;
	color: white;
	padding: 2px;
	flex: 0 0;
}

main section {
	background: white;
	/* Give sections a border of the same colour as the background.
	With this (or with any border), the background colour spreads to the
	full size of the parent; without it, a paragraph margin at the start
	of the section's children will be uncoloured. */
	border: 1px solid white;
	width: 100%; height: 100%;
}

.shadow {
	background: #80c0dd;
	width: 100%; height: 100%;
}

.box,.split {
	display: flex;
	width: 100%; height: 100%;
	gap: 2px;
	/*background: #fee;*/ /* Highlight boxes, for testing */
}
.horizontal {flex-direction: row;}
.vertical {flex-direction: column;}

.split > :not(.splitbar) {
	overflow: clip;
	width: unset; height: unset;
}
.splitbar {flex: 0 0; border: 3px outset #a0f0c0;}
.divider {flex: 0 0; border: 3px inset #a0f0c0;}
.horizontal > .splitbar {cursor: col-resize;}
.vertical > .splitbar {cursor: row-resize;}
#toolboxbody .splitbar {cursor: unset;} /* ID is more specific than class, easier than fiddling with :not() */
.split > *:last-child {flex: 1 1 0;}
#toolboxbody .split {min-height: 1.5em;}
#toolboxbody section {
	height: 50px;
	overflow: clip;
	margin: 2px;
	border: 1px solid blue;
	padding: 2px;
}

.titlebar {
	width: 100%;
	background: #0058cc;
	color: white;
	border: 2px outset;
	padding: 1px;
	position: relative;
}
.settings {
	position: absolute;
	right: 0; top: 0;
	width: 21px; height: 21px;
	font-size: 12pt;
	padding: 0;
}

#fullscreen {
	position: absolute;
	right: 0; top: 0;
	width: 22px; height: 22px;
	line-height: 8px;
	padding: 0;
	margin: 1px;
}

iframe {
	width: 100%; height: 100%;
}

.hidden {display: none;}
#layoutbody:not(.editmode) .editonly {display: none;}
#layoutbody.editmode .layoutonly {display: none;}
body.layoutoverride .layoutonly {display: none;}
body.layoutoverride #layoutmode {display: none;}
#toolboxbody .settings, #toolboxbody .addelem {display: none;}

/* Create a scroll context inside dialogs */
dialog > section {
	display: flex;
	flex-direction: column;
}
dialog > section > header {
	display: flex;
	justify-content: space-between;
	background: unset; color: unset;
	padding: 0;
}
dialog > section > header > h3 {
	margin: 0.5em 0;
}
dialog > section > div {
	overflow-y: auto;
	max-height: 70vh;
}
.dialog_cancel {
	position: relative;
	right: -8px; top: -8px;
}
.buttonbox {
	display: flex;
	padding: 0; margin: 5px 0;
	list-style-type: none;
	gap: 5px;
	align-items: flex-end;
	flex-wrap: wrap;
}

#toolbox section {
	margin: 2px;
	border: 1px solid blue;
	padding: 2px;
}

#volumes th {
	text-align: right;
}

.volslider {
	width: 25em;
}

.percent {
	display: inline-block;
	width: 3em;
	margin-right: 1.5em;
}
.percent:after {
	content: "%";
}

details {
	border: 2px solid blue;
}

#layout {
	margin: 5px;
	border: 5px ridge;
	position: relative;
}

#layout div {
	position: absolute;
	background-color: rgba(255, 0, 127, 0.25);
	background-size: cover; /* in case we toss an image on there */
	border: 2px dashed green;
	overflow: hidden;
	resize: horizontal;
}

#layout div.locked {
	background-color: rgba(255, 127, 255, 0.0625);
	resize: none;
}
#layout div.locked:after {
	content: "🔒";
	display: block;
	position: absolute;
	bottom: 0; right: 0;
}

#layout_info {
	flex: none;
}

[data-subtype=sceneswitch] > div {
	display: grid;
	/* grid-template-columns: repeat(????, 1fr); */ /* actual column count added at runtime */
	gap: 10px;
	width: 100%; height: 100%;
}
[data-subtype=sceneswitch] button {
	border: 0;
	font-size: larger;
	display: flex;
	align-items: center;
	justify-content: center;
}
[data-subtype=sceneswitch] button:hover {background: aliceblue;}
[data-subtype=sceneswitch] button.current {background: #44ddcc;}
[data-subtype=sceneswitch] button.current:hover {background: #33ccbb;}

[data-subtype=streamstatus] {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 5px;
}
[data-subtype=streamstatus] > button {
	flex-grow: 1;
}

[data-status=CURRENTLY] {
	/* Highlight buttons when streaming/recording is active */
	background: #44ddcc;
}

.clipbtn {cursor: copy;}
#copied {
	opacity: 0;
	position: absolute;
	background: black;
	color: white;
	border: 1px solid green;
	margin-left: 1.5em;
	padding: 2px;
	cursor: default;
	transition: opacity 2s 0.5s;
	left: -100px; top: -100px; /* Keep it off screen until it's moved to the mouse cursor */
}
#copied.shown {
	opacity: 1;
	transition: opacity .5s 0s;
}

#connect_error {
	margin: 0.5em;
	background: #fee;
	border: 1px solid red;
	padding: 0.125em 0.5em;
	max-width: -moz-fit-content;
	max-width: fit-content;
}
