#status {
	position: absolute;
	top: 0; right: 0;
}

#status th, #volumes th {
	text-align: right;
}

.volslider {
	width: 25em;
}

.percent {
	display: inline-block;
	width: 3em;
	margin-right: 1.5em;
}
.percent:after {
	content: "%";
}
