#volumes th {
	text-align: right;
}

.volslider {
	width: 25em;
}

.percent {
	display: inline-block;
	width: 3em;
	margin-right: 1.5em;
}
.percent:after {
	content: "%";
}

details {
	border: 2px solid blue;
}

.hidden {
	display: none;
}

.vertical {
	flex-direction: column;
}

#layout {
	margin: 5px;
	border: 5px ridge;
	position: relative;
}

#layout div {
	position: absolute;
	background-color: rgba(255, 0, 127, 0.25);
	background-size: cover; /* in case we toss an image on there */
	border: 2px dashed green;
	overflow: hidden;
	resize: horizontal;
}

#layout div.locked {
	background-color: rgba(255, 127, 255, 0.0625);
	resize: none;
}
#layout div.locked:after {
	content: "🔒";
	display: block;
	position: absolute;
	bottom: 0; right: 0;
}

#layout_info {
	flex: none;
}

dialog {
	position: fixed;
	width: 40em; height: 37em;
	top: calc(50% - 20em);
	left: calc(50% - 15em);
	bottom: calc(50% - 20em);
	right: calc(50% - 15em);
	border: 5px solid black;
	padding: 1em;
	overflow: auto;
}

#itemprops_cancel {
	position: absolute;
	right: 1em; top: 1em;
}
