* {box-sizing: border-box;}

body {
	margin: 0;
	width: 100vw; height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 1;
}

header {
	background: rebeccapurple;
	padding: 2px;
	flex: 0 0;
}

section {
	background: #a0f0c0;
}

#toolbox section {
	margin: 2px;
	border: 1px solid blue;
	padding: 2px;
}
