* {box-sizing: border-box;}

body {
	margin: 0;
	width: 100vw; height: 100vh;
	padding: 8px;
}
main {
	width: 100%; height: 100%;
}

header {
	position: absolute;
	top: 0; left: 0; right: 0;
	background: rebeccapurple;
	padding: 2px;
}

section {
	background: #a0f0c0;
}

#toolbox section {
	margin: 2px;
	border: 1px solid blue;
	padding: 2px;
}
