* {box-sizing: border-box;}

body {
	margin: 0;
	width: 100vw; height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 1;
}

header {
	background: rebeccapurple;
	padding: 2px;
	flex: 0 0;
}

section {
	background: #a0f0c0;
	/* Give sections a border of the same colour as the background.
	With this (or with any border), the background colour spreads to the
	full size of the parent; without it, a paragraph margin at the start
	of the section's children will be uncoloured. */
	border: 1px solid #a0f0c0;
	width: 100%; height: 100%;
}

#toolbox section {
	margin: 2px;
	border: 1px solid blue;
	padding: 2px;
}

.shadow {
	background: aliceblue;
	width: 100%; height: 100%;
}

.box,.split {
	display: flex;
	width: 100%; height: 100%;
	gap: 2px;
	background: #fee; /* Highlight boxes, for testing */
}
.horizontal {flex-direction: row;}
.vertical {flex-direction: column;}

.split > :not(.splitbar) {
	overflow: clip;
	width: unset; height: unset;
}
.splitbar {
	flex: 0 0;
	border: 3px outset #a0f0c0;
}
.horizontal > .splitbar {cursor: col-resize;}
.vertical > .splitbar {cursor: row-resize;}
.split > *:last-child {flex: 1 1 0;}
